{% extends 'layout.html' %} 
{% block styles %} 
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" /> 
{% endblock %} 
{% block body %}

<br>

<div class="container" style="border-top-style: none; border-bottom-style: none;" id="firstRow">
    <!--Top Title-->
    <div class="row align-items-center" id="first">
        <div class="col-12">
            <p class="h3" style="margin: auto;" align="center">Risk trace in the last 72 hours</p>
        </div>
        <br><br>
        <!--Gauge-->
        <div class="col-12">
            <div class="text-center">
                <img src="data:image/png;base64,{{ grid }}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <!--Chart Title-->
        <div class="col-12">
            <p class="h4" style="margin: auto;" align="center" id="risk_title">{{risk_title}}</p>
        </div>
    </div>

    </br></br>

    <!--Buttons row-->
    <div class="container" style="border-top-style: solid; border-bottom-style: solid;" id="thirdRow">
        <div class="row align-items-center" id="third">
        <!--Buttons row-->
        <div class="col-12" style="padding-left: 0ex;padding-right: 0ex;">
            <div class="text-center">
                <a href="{{url_for('Index')}}" style="font-size: 18px;" class="btn btn-primary" role="button">Simulation</a>
            </div>
        </div>
    </div>  

</div>

{% endblock %} 
{% block extraScripts %}
<script src="{{url_for('static',filename='js/gauge.min.js')}}"></script>
<script src="{{url_for('static',filename='js/abc3.js')}}"></script> 

{% endblock %}