{% extends "layout.html" %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">

{% endblock %}

{% block body %}

<div class="container-fluid">
        <div class="cd-header">
                <br>
                <a  class="nav-link" href="{{ url_for('about') }}">
                        <div class="row">
                                <h1 class='title'>&nbsp;&nbsp;About us&nbsp;&nbsp;</h1>
                                <img src="{{url_for('static',filename='img/info.png')}}" width="50" height="50">
                        </div>
                </a>
        </div>

        <div class="row">
                <div class="col-12">
                        <p>
                                The vast majority of day-to-day care in type 1 diabetes (T1D) is handled by patients 
                                and their families, making appropriate self-management a cornerstone in any successful 
                                treatment. Unfortunately, self-management can be a time-consuming and challenging task 
                                even for experienced patients, since most of treatment decisions are based on multiple 
                                uncertain factors. Therefore, our goal is to provide patients with a powerful hands-on Web 
                                Information Tool (WIT) that will empower them to fully leverage the data they generate. 
                                Through this novel educational platform, patients are able to easily and quickly assess the 
                                impact of self-management practices on their glucose control as well as explore alternatives, 
                                leading to better diabetes literacy and glucose control. We aim to offer support through the 
                                Adaptive Biobehavioral Control (ABC) application that will tell patients about changes in 
                                their insulin needs and recommendations for care, with the possibility of running simulations 
                                for the recommendations.                        
                        </p>
                </div>
        </div>

</div>
{% endblock %}