{% extends "layout.html" %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/contact_n.css')}}">

{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="cd-header">
        <br> 
        <a  class="nav-link" href="{{ url_for('contact') }}">
        <div class="row">
            <h1 class='title'>Contact Us&nbsp;&nbsp;</h1>
            <img src="{{url_for('static',filename='img/contactUs.png')}}" width="50" height="50">
        </div>  
        </a> 
    </div>


    <div class="row">
        <p>For any inquiries about this application, please select the kind of inquiry and tap SEND to start the inquiry process. 
            We will receive a notification and contact you as soon as possible. 
            We are not allowed to have a blank text box on the website to prevent disclosing identifiable information.
            This is the reason we must follow up via a secure email service.
        </p>
        <br>
    </div>


<div class="helper">
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages%}
        {% if message == 'No message! You should make a selection...' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="row">
        <form class="form-contact" method="POST" action="/contact">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="staticUsernameLabel">Username</span>
                </div>
                <input type="text" readonly class="form-control" id="staticUsernameText" value={{name}}>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="staticEmailLabel">Email</span>
                </div>
                <input type="text" readonly class="form-control" id="staticEmailText" value={{email}}>
            </div>
            <!-- <textarea type="text" class="form-control" rows="10" name="msgBody" value="" placeholder="Enter your message"></textarea> -->
            <div class="input-group mb-3">
                <select class="custom-select" id="contactOptions" name="msgBody">
                    <option value="General Inquiry"> General inquiry </option>
                    <option value="Technical inquiry"> Technical inquiry </option>
                    <option value="Report error"> Report error </option>
                 </select>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        </form>
    </div>
</div>

</div>
{% endblock %}