{% extends 'layout.html' %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" /> {% endblock %} {% block body %}

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- FIRST ROW -->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<div class="container" id="firstRow">
    <p>
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Tip of the week
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <!-- Week 1  -->
        <!-- <div class="card card-body">
            On the Meal Simulator, you will see carbs that you entered into your pump and also meals detected by WST. 
            You can interact with single meals, but our recommendation is to select all the meals in order to obtain more meaningful results.
            
            <br>

            Take into account that when you modify a mealtime, you will be changing the time you started to eat, 
            but not the time you took the bolus dose (if you did it). 
            For example, let's assume you took a bolus dose exactly at the time you started to eat. 
            If you delay that meal 15 min, WST will simulate 
            what would have happened to your blood glucose if you had 
            started to eat 15 minutes after you bolused. That is, delaying a meal X min could be also
            interpreted as bringing the bolus dose forward X min with respect to the original mealtime.
        </div> -->
        <div class="card card-body">
            WST reconstructs your CF and CR profiles from CF and CR values that are reported by t:connect when a 
            manual or automatic insulin dose is requested. CF/CR values are held until a new insulin dose is received. 
            
            <br>

            For instance, if there is a change in the CF profile you have set in your pump during a period of time 
            where an insulin bolus was not requested, that change in the CF profile will not be detected by WST. 
            This has no impact on how you can interact with WST; you can still modify your CR/CF values associated with insulin doses. 
            CR/CF values not associated with insulin doses have no impact on your glucose control. 
            
            <br>

            So if you detect there are multiple CR/CF profiles in the insulin simulator due to this way of 
            reconstructing the profiles, you do not need to select them one by one, you can select all of them with 
            the drop-down list that is just below "Insulin Simulator" on the right. The first option is "All".
            
        </div>
    </div>
    <div class="row" id="first">
        <div class="col-md-5 align-self-center" align="center">
            <div id="datepicker" style="background: #fff; cursor: pointer; padding: 5px 5px; border: 1px solid #ccc; width: 100%">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div class="col-md-6 align-self-center" align="center" id="DateList">
            <select type="text" id="SelectDisplayDate" class="select-select2" multiple="multiple" role="multiselect" title='Orange means the data has been affected by your changes.&#10;Black means there is no change on the data.&#10;Gray means there is no data therefore not selectable.'>          
                    <option value="" disabled>Select only the dates that you are interested in</option>
                </select>
        </div>

        <div class="col-md-1 align-self-center" align="center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="option1" id="display-all-date">
                <label class="form-check-label" for="display-all-date">All</label>
            </div>
        </div>

    </div>
</div>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- THIRD ROW -->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<div class="container" id="thirdRow">
    <div class="row my-1 align-items-center" id="thirdA">
        <div class="col-md-12 align-self-center">
            <p>
                <button type="submit" class="btn btn-outline-secondary btn-block" id="MoreDetails_control" data-toggle='tooltip' data-placement='bottom' title='Click and see extra metrics comparing your original CGM with your simulated CGM.'>More Details</button>
            </p>
        </div>
    </div>
    <div id="collapseMoreDetails">
        <div class="row my-1 align-items-center" id="thirdB">
            <div class="col-md-3">
                <div class="table-responsive-md align-middle">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">TDI [U]</th>
                                <th scope="col">TDB [U]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Original</th>
                                <td class="real_text"><span id="original-tdi"></span></td>
                                <td class="real_text"><span id="original-tdb"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Replay</th>
                                <td class="replay_text"><span id="replay-tdi"></span></td>
                                <td class="replay_text"><span id="replay-tdb"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-sm-4 align-self-center" id="colBulletGraph">


                        <p class="h6 mx-2 my-0 align-self-center" align='center'>
                            Variability
                        </p>

                        <p class="mx-2 my-0 align-self-center" align='center'>
                            <span class="bulletGraph" id="bgraph_cv"></span>
                        </p>

                        <p class="mx-0 my-0 align-self-center" align='center'>
                            <small>
                            &nbsp;<span id="diff-var"></span> 
                            </small>
                        </p>

                    </div>
                    <div class="col-sm-4 align-self-center" id="colBulletGraph">
                        <p class="h6 mx-2 my-0 align-self-center" align='center'>
                            Hypo risk
                        </p>
                        <p class="mx-2 my-0 align-self-center" align='center'>
                            <span class="bulletGraph" id="bgraph_lbgi"></span>
                        </p>

                        <p class="mx-0 my-0 align-self-center" align='center'>
                            <small>
                            &nbsp;<span id="diff-lbgi"></span> 
                            </small>
                        </p>

                    </div>
                    <div class="col-sm-4 align-self-center" id="colBulletGraph">
                        <p class="h6 mx-2 my-0 align-self-center" align='center'>
                            Hyper risk
                        </p>
                        <p class="mx-2 my-0 align-self-center" align='center'>
                            <span class="bulletGraph" id="bgraph_hbgi"></span>
                        </p>

                        <p class="mx-0 my-0 align-self-center" align='center'>
                            <small>
                            &nbsp;<span id="diff-hbgi"></span> 
                            </small>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-responsive-md align-middle">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"># Hypo Treats</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Original</th>
                                <td class="real_text"><span id="original-ht"></span>/day</td>
                            </tr>
                            <tr>
                                <th scope="row">Replay</th>
                                <td class="replay_text"><span id="replay-ht"></span>/day</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- SECOND ROW -->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<div class="container" id="secondRow">
    <div class="row align-items-center" id="second">
        <div class="col-lg-3 col-md-12">
            <div class="row align-items-center" id="secondB">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                    <p class="h6 mx-2 my-0 align-self-center" align='center' title='This chart shows how much data is available in the selected date range.'>
                        Available avatars
                    </p>
                    <div class="chart-container" style="position: relative; margin-bottom: 15px; max-width: 250px;margin: 0px auto">
                        <canvas id="doughnutData"></canvas>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                    <p class="h6 mx-2 my-0 align-self-center" align='center' title="This chart shows the percentages of time your CGM values spent in different ranges.">
                        Time in range
                    </p>
                    <div class="chart-container" style="position: relative; max-width: 250px;margin: 0px auto">
                        <canvas id="barTir" height='225'></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 align-self-center" align='center'>
            <div id="areaDays">
                <span style="font-size: 12px"></span>
            </div>
            <div id="do_legend">
                <ul class="legend mb-0 pb-0">
                    <li> <span id="original-legend" style="background-color:#3DADD9" onclick="updateGlucDataset(true)" title="Shows/hides your original CGM traces."> Show Original </span></li>
                    <li> <span id="replay-legend" style="background-color:#DE9D75" onclick="updateGlucDataset(false)" title="Shows/hides your simulated CGM traces."> Show Replay </span></li>
                </ul>
            </div>
            <p class="h6 mx-2 my-0 align-self-center" align='center' title="This graph shows your original and simulated glucose traces.">
                Glucose [mg/dl]
            </p>
            <canvas class='canvas-nomargin' id="areaGlucose"></canvas>
        </div>
    </div>
</div>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- FOURTH ROW -->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<div class="container" id="fourthRow">
    <div class="row" id="fourth">
        <div class="col-md-3 align-self-center">
            <div class="input-group">
                <select class="custom-select" id="inputGroupReplay" title="Shows your saved replay configurations.">
                    <option selected>New Replay</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 align-self-center" align="center">
            <button type="submit" class="btn btn-primary btn-block" id="submit-data" title="Runs a simulation.">RUN</button>
        </div>
        <div class="col-md-3 align-self-center" align="center">
            <div class="progress" id="Progress_Status" style="width:100%; margin-top: 5px; margin-bottom: 5px">
                <div class="progress-bar progress-bar-striped" role="progressbar" id="myprogressBar" title="Indicates your simulation progress."></div>
            </div>
        </div>
        <div class="col-md-2 align-self-center">
            <button type="submit" class="btn btn-primary btn-block" id="save-replay" title="Saves your new insulin/meal configuration.">SAVE REPLAY</button>
        </div>
        <div class="col-md-2 ml-auto align-self-center">
            <button type="submit" class="btn btn-primary btn-block" id="generate-report" title="Generates a pdf report to compare your original and replay (if any) data.">REPORT</button>
        </div>
    </div>
    <div class="row" id="fourth_B">
        <div class="card text-white bg-secondary" style="width:100%; margin-top: 5px; margin-bottom: 5px">
            <div class="card-body">
                <h5 class="card-title">IMPORTANT</h5>
                <p class="card-text">Please speak with your health care provider prior to making changes to your treatment parameters.</p>
            </div>
        </div>
    </div>
</div>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- FIFTH ROW -->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<div class="container" id="fifthRow">

    <div class="offset-lg-3 col-lg-9 col-md-12" align="center">
        <div class="align-self-center switch-toggle switch-candy-blue">
            <input value="Insulin_Toggle" id="Insulin_Toggle" name="view" type="radio" checked>
            <label for="Insulin_Toggle" onclick="" title="Shows your original and replay insulin configuration">Insulin</label>
            <input value="Meal_Toggle" id="Meal_Toggle" name="view" type="radio">
            <label for="Meal_Toggle" onclick="" title="Shows your original and replay meal configuration">Meal</label>
            <a></a>
        </div>
    </div>


    <div class="row align-items-center" id="fifth">
        <div class="col-lg-3 col-md-12">
            <div class="row align-items-center" id="fifthB">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6" align='center'>
                    <p class="h6 mx-2 my-0 align-self-center" style="font-size: 100%;" align='center' title="Allows you to modify your insulin pump's settings">
                        <b>Insulin simulator</b>
                    </p>
                    <div class="input-group">
                        <select class="custom-select" id="inputGroupInsType">
                            <option value="" disabled selected>Select Pump Setting</option>
                            <option value="all"> All </option>
                            <option value="B">Basal</option>
                            <option value="CR">CR</option>
                            <option value="CF">CF</option>
                         </select>
                        <select class="custom-select" id="inputGroupInsProfile">
                            <option value="" disabled selected>Select Profile</option>
                         </select>
                    </div>
                    <div class="alert alert-secondary" id="disable-content-ins">
                        <br><br> Sorry, there are no insulin profiles !
                        <br><br>
                    </div>
                    <!-- <input type="checkbox" id="EntireDay" title='Check this to select from 00:00 to 23:30.'>Select Entire Day -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="EntireDay" title='Check this to select from 00:00 to 23:30.' value="option1">
                        <label class="form-check-label" for="EntireDay"> Select Entire Day </label>
                    </div>

                    <div id="ins-timepicker" style="background: #fff; cursor: pointer; padding: 5px 5px; border: 1px solid #ccc; width: 100%">
                        <i class="fas fa-clock"></i>&nbsp;
                        <span>00:00 - 00:00</span> <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="slidecontainer" id="ins-slider-section" title="Percentage of your original insulin profile.">
                        <input type="range" min="50" max="150" value="100" step="10" class="custom-range" id="insSlider">
                        <p class="h6 mx-0 my-0 align-self-center"><span id="insSliderValue"></span>%</p>
                    </div>
                    <div class="temp-changes" id="ins-changes-section">
                        <button type="submit" class="btn btn-primary btn-block" id="tempInsUpdate" data-toggle='tooltip' data-placement='bottom' title='Applies the changes you have made to your insulin profiles.'>APPLY CHANGES</button>
                        <button type="submit" class="btn btn-warning btn-block" id="tempInsReset" data-toggle='tooltip' data-placement='bottom' title='Undoes all changes to your original insulin profiles.'>RESET</button>
                    </div>
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6" align='center'>
                    <p class="h6 mx-2 my-0 align-self-center" style="font-size: 100%;" align='center' title="Allows you to modify your meals">
                        <b>Meal simulator</b>
                    </p>
                    <div class="input-group">
                        <select class="custom-select" id="MealSelectDay">
                            <option value="" disabled selected>Select Date</option>
                        </select>
                        <select class="custom-select" id="MealSelect">
                            <option value="" disabled selected>Select Meal</option>
                        </select>
                    </div>
                    <div class="alert alert-secondary" id="disable-content-meal">
                        <br><br> Sorry, there are no meals !
                        <br><br>
                    </div>
                    <div id="meal-slider-section">
                        <div class="timeslider" id="meal-time-slider" title='Adjusts the meal time'>
                            <input id="meal-timeslider" type="range" min="-30" max="30" step="5" class="custom-range">
                            <p class="h6 mx-0 my-0 align-self-center"><span id="meal-timeslider-val"></span> mins</p>
                        </div>
                        <div class="slidecontainer" id="meal-carb-slider" title='Changes the number of carbohydrates'>
                            <input type="range" min="50" max="150" value="100" step="10" class="custom-range" id="mealSlider">
                            <p class="h6 mx-0 my-0 align-self-center"><span id="mealSliderValue"></span>%</p>
                        </div>
                    </div>
                    <div class="temp-changes" id="meal-changes-section">
                        <button type="submit" class="btn btn-primary btn-block" id="tempMealUpdate" data-toggle='tooltip' data-placement='bottom' title='Applies the changes you have made to your meals.'>APPLY CHANGES</button>
                        <button type="submit" class="btn btn-warning btn-block" id="tempMealReset" data-toggle='tooltip' data-placement='bottom' title='Undoes all changes to your original meals.'>RESET</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 align-self-center" align='center'>
            <div id="ProfileTimeSection">
                <i class="fa fa-clock-o"></i>&nbsp;<span></span>
            </div>
            <canvas class='canvas-nomargin' id="lineReplay"></canvas>
            <canvas class='canvas-nomargin' id="mealReplay"></canvas>

            <div class="container" id="contSimOpt">
                <p class="h6 mx-2 my-0 align-self-center" id="simOpt" align='center'>
                    Simulation options
                </p>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="container" id="extraFeatures">
                    <select class="custom-select" id="apSel" title="Asks the system to activate/deactivate an artificial pancreas system in your simulations.">
                        <option value="0">No APS</option>
                        <option value="1">Basal-IQ</option>
                        <option value="2">Control-IQ</option>
                    </select>
                    <div class="text-left">
                        <div class="col-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="adjIns" value="option1">
                                <label class="form-check-label" for="adjIns" title="Asks the system to re-compute quick or overwritten manual insulin boluses based on new conditions and settings."> Adjust manual boluses </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="genIns" value="option2">
                                <label class="form-check-label" for="genIns" title="Asks the system to generate new manual insulin boluses when glucose is above 250 mg/dl."> Generate manual boluses </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="adjHTs" value="option3">
                                <label class="form-check-label" for="adjHTs" title="Asks the system to remove detected hypo-treatments if they are no longer necessary based on a predefined glucose threshold of 70 mg/dl."> Adjust detected HTs </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="genHTs" value="option4">
                                <label class="form-check-label" for="genHTs" title="Asks the system to generate new hypo-treatments when glucose is below or equal to 70 mg/dl."> Generate HTs </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<span id="flagFirstTUser" hidden>{{flagFirstTUser}}</span>
<span id="flagTutorial" hidden>{{flagTutorial}}</span>

<div id="success" title="Success">
</div>

<div id="warning" title="Warning">
</div>

{% endblock %} {% block extraScripts %}
<!-- Date picker -->
<script src="{{url_for('static',filename='js/moment.min.js')}}"></script>
<script src="{{url_for('static',filename='js/daterangepicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.sparkline.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/global-variables.js')}}"></script>
<script src="{{url_for('static',filename='js/global-functions.js')}}"></script>
<script src="{{url_for('static',filename='js/main.js')}}"></script>


{% endblock %}