{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row" align="center">
        <div class="login-box">
            <div class="row" align="center">
                {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
                {% if warnings %}
                {% for message in warnings%}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% with infos = get_flashed_messages(category_filter=["info"]) %}
                {% if infos %}
                {% for message in infos%}
                <div class="alert alert-success" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <img class="img-responsive" src="{{url_for('static',filename='img/logoN_hor.png')}}" alt="Logo"
                        width="150" height="100">
                </div>
                <div class="col-12 col-sm-6">
                    <h3 align="center">Member login</h3>
                </div>
            </div>
            <div class="row">
                <form class="form-login" method="POST" action="/login">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.remember) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                    <small class="text-muted ml-2">
                        <a href="{{url_for('reset_request')}}">Forgot Password?</a>
                    </small>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}