{% extends "layout.html" %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="card-title mb-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="image-container">
                                <img src="{{url_for('static',filename='img/UserProfile.jpg')}}" id="imgProfile" style="width: 75px; height: 75px" class="img-thumbnail" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"> {{ user_name }}</a></h2>
                                <h6 class="d-block"><i class="fa fa-envelope"></i> {{ user_email }} <br /> </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="CGM-tab" data-toggle="tab" href="#systemUse" role="tab" aria-controls="systemUse" aria-selected="false">System use</a>
                            </li>
                        </ul>

                        <div class="tab-content ml-1" id="myTabContent">
                            <div class="tab-pane fade in active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    

                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Weight</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user_weight }} kg
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Height</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user_height }} cm
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Age</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user_age }} yo
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">TDI</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user_TDI }} U per day
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">AP System</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user_apSystem }} 
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Time Zone</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ timezone }} 
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Insulin duration</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ insDur }} h 
                                    </div>
                                </div>
                                <hr />
                            </div>
                            
                            <div class="tab-pane fade in" id="systemUse" role="tabpanel" aria-labelledby="systemUse-tab">
                                
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">First time user</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user_ftUser }}
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Active user</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user_active }}
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Start Date</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ user_startDate }}
                                    </div>
                                </div>
                                <hr />
                                
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

{% endblock %}