[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
sqlalchemy = "*"
werkzeug = "*"
simplejson = "*"
numpy = "*"
scipy = "*"
datetime = "*"
pdfkit = "*"
matplotlib = "*"
pandas = "*"
flask-mail = "*"
mysql-connector-python = "*"
apscheduler = "*"
cryptography = "*"
email-validator = "*"
requests = "*"
zipfile37 = "*"

[requires]
python_version = "3.7"
