div.cd-header {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.helper {
    padding-left: 3%;
    padding-right: 3%;
}


h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
}

.title{ 
    color:#3da5e6;
    margin-top: 0.2em;
}

h5 {
    text-align:center
   }

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
  }

.form-contact {
    width: 100%;
    max-width: auto;
    box-sizing: border-box;
    text-align: center;
}

.alert-success {
    width: 100%;
}

.fade{
    opacity: 100;
}