* {
    box-sizing: border-box;
}

html, body {
  
  background-color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.0em;

}

.container {
  
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.0em;

}

h3 {

  margin: 10px;

}

.login-box {

  max-width: 400px;
  padding: 1.0em 0em;

}

.form-login {
    
  max-width: auto;
  padding: 15px;
  width: auto;

}

.form-login .form-login-heading,
.form-login .checkbox {

  margin-bottom: 10px;

}

.form-login .checkbox {

  font-weight: normal;

}

.form-login .form-control {

  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(120, 124, 128);
  background: transparent;
  outline: none;
  color: rgb(0, 83, 160);
  margin-bottom: -10px;

}

.form-login .form-control:focus {

  z-index: 2;
  box-shadow: 0 0 0 0.2rem rgba(49, 153, 238, 0.219);

}

.form-login input[type="email"] {

  margin-bottom: 1px;
  border-bottom-right-radius: 3;
  border-bottom-left-radius: 3;
  border-top-right-radius: 3;
  border-top-left-radius: 3;

}

.form-login input[type="password"] {

  margin-bottom: 1px;
  border-bottom-right-radius: 3;
  border-bottom-left-radius: 3;
  border-top-right-radius: 3;
  border-top-left-radius: 3;
  
}

.btn{
  background-color: #3DADD9 !important;
  border-color: #3DADD9 !important;
}