div.cd-header {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;

}
.title{ 
    color:#3da5e6;
    margin-top: 0.2em;
}


h5 {
    text-align:center
   }

.collapse{
    display: flex;
}

.form-contact {
    width: 100%;
    max-width: auto;
    box-sizing: border-box;
    text-align: center;
}

p {
    display: block;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align:center;
    color:black;
  }

.btn {
    white-space: normal;
}  

.card-body{
    text-align: center;
    font-size: 0.8rem;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }